In [1]:
import pandas as pd
import childespy as chp 
import os 
import numpy as np

Reinstalling childesr version 0.2.1
--- Please select a CRAN mirror for use in this session ---
Secure CRAN mirrors

 1: 0-Cloud [https]
 2: Australia (Canberra) [https]
 3: Australia (Melbourne 1) [https]
 4: Australia (Melbourne 2) [https]
 5: Austria [https]
 6: Belgium (Brussels) [https]
 7: Brazil (PR) [https]
 8: Brazil (SP 1) [https]
 9: Brazil (SP 2) [https]
10: Bulgaria [https]
11: Canada (MB) [https]
12: Canada (ON 1) [https]
13: Canada (ON 2) [https]
14: Chile (Santiago) [https]
15: China (Beijing 2) [https]
16: China (Beijing 3) [https]
17: China (Hefei) [https]
18: China (Hong Kong) [https]
19: China (Guangzhou) [https]
20: China (Jinan) [https]
21: China (Nanjing) [https]
22: China (Shanghai 2) [https]
23: China (Shenzhen) [https]
24: China (Wuhan) [https]
25: Colombia (Cali) [https]
26: Costa Rica [https]
27: Cyprus [https]
28: Czech Republic [https]
29: Denmark [https]
30: East Asia [https]
31: Ecuador (Cuenca) [https]
32: France (Lyon 1) [https]
33: France (Lyon 2) [https]
34: France (Marseille) [https]
35: France (Paris 1) [https]
36: Germany (Erlangen) [https]
37: Germany (Göttingen) [https]
38: Germany (Leipzig) [https]
39: Germany (Münster) [https]
40: Greece [https]
41: Iceland [https]
42: India (Bengaluru) [https]
43: India (Bhubaneswar) [https]
44: Indonesia (Banda Aceh) [https]
45: Iran (Mashhad) [https]
46: Italy (Milano) [https]
47: Italy (Padua) [https]
48: Japan (Yonezawa) [https]
49: Korea (Gyeongsan-si) [https]
50: Mexico (Mexico City) [https]
51: Mexico (Texcoco) [https]
52: Morocco [https]
53: Netherlands (Dronten) [https]
54: New Zealand [https]
55: Norway [https]
56: South Africa (Johannesburg) [https]
57: Spain (A Coruña) [https]
58: Spain (Madrid) [https]
59: Sweden (Umeå) [https]
60: Switzerland (Zurich 1) [https]
61: Taiwan (Taipei) [https]
62: Turkey (Denizli) [https]
63: Turkey (Istanbul) [https]
64: UK (Bristol) [https]
65: UK (London 1) [https]
66: USA (IA) [https]
67: USA (MI) [https]
68: USA (MO) [https]
69: USA (OH) [https]
70: USA (OR) [https]
71: USA (PA 1) [https]
72: USA (TN) [https]
73: USA (UT) [https]
74: United Arab Emirates [https]
75: Uruguay [https]
76: (other mirrors)

R[write to console]: trying URL 'https://mirror.las.iastate.edu/CRAN/src/contrib/childesr_0.2.3.tar.gz'

R[write to console]: Content type 'application/x-gzip'
R[write to console]:  length 22865 bytes (22 KB)

R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]:

R[write to console]: downloaded 22 KB


* installing *source* package ‘childesr’ ...
** package ‘childesr’ successfully unpacked and MD5 sums checked
** using staged installation
** R
** inst
** byte-compile and prepare package for lazy loading
** help
*** installing help indices
** building package indices
** installing vignettes
** testing if installed package can be loaded from temporary location
** testing if installed package can be loaded from final location
** testing if installed package keeps a record of temporary installation path
* DONE (childesr)
R[write to console]:

R[write to console]:
R[write to console]: The downloaded source packages are in
	‘/tmp/RtmpKR6F0f/downloaded_packages’
R[write to console]:
R[write to console]:

In [18]:
newman_transcripts = chp.get_transcripts(corpus='NewmanRatner')
newman_transcripts

R[write to console]: Using current database version: '2021.1'.

,transcript_id,corpus_name,language,date,filename,target_child_name,target_child_age,target_child_sex,collection_name,pid,collection_id,corpus_id,target_child_id
1,10155,NewmanRatner,eng,None,Eng-NA/NewmanRatner/07/4269LP.xml,4269LP7,7.000144,female,Eng-NA,11312/c-00043096-1,2,76,4226
2,10156,NewmanRatner,eng,None,Eng-NA/NewmanRatner/07/4273WC.xml,4273WC7,7.000144,male,Eng-NA,11312/c-00043097-1,2,76,4229
3,10157,NewmanRatner,eng,None,Eng-NA/NewmanRatner/07/4452CM.xml,4452CM7,7.000144,male,Eng-NA,11312/c-00043099-1,2,76,4235
4,10158,NewmanRatner,eng,None,Eng-NA/NewmanRatner/07/4310AM.xml,4310AM7,7.000144,male,Eng-NA,11312/c-00043098-1,2,76,4232
5,10159,NewmanRatner,eng,None,Eng-NA/NewmanRatner/07/4592HVG.xml,4592HVG7,7.000144,female,Eng-NA,11312/c-00043100-1,2,76,4238
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1082,11236,NewmanRatner,eng,None,Eng-NA/NewmanRatner/Interviews/24/7660HK.xml,None,NaN,None,Eng-NA,11312/a-00033874-1,2,76,-2147483648
1083,11237,NewmanRatner,eng,None,Eng-NA/NewmanRatner/Interviews/24/7658LT.xml,7658LT24,24.000493,female,Eng-NA,11312/c-00043921-1,2,76,5695
1084,11238,NewmanRatner,eng,None,Eng-NA/NewmanRatner/Interviews/24/7553JT.xml,7553JT24,24.000493,female,Eng-NA,11312/c-00043920-1,2,76,5686
1085,11239,NewmanRatner,eng,None,Eng-NA/NewmanRatner/Interviews/24/7300AP.xml,7300AP24,24.000493,male,Eng-NA,11312/c-00043917-1,2,76,5679
1086,11240,NewmanRatner,eng,None,Eng-NA/NewmanRatner/Interviews/24/7814NB.xml,None,NaN,None,Eng-NA,11312/c-00043923-1,2,76,-2147483648

In [2]:
brent_transcripts = chp.get_transcripts(corpus='Brent')

R[write to console]: Using current database version: '2021.1'.

In [6]:
rollins_t  = chp.get_transcripts(corpus='Rollins')

R[write to console]: Using current database version: '2021.1'.

In [8]:
rollins_t['transcript_id'].unique()

array([4508, 4509, 4510, 4511, 4512, 4513, 4514, 4515, 4516, 4517, 4518,
       4519, 4520, 4521, 4522, 4523, 4524, 4525, 4526, 4527, 4528, 4529,
       4530, 4531, 4532, 4533, 4534, 4535, 4536, 4537, 4538, 4539, 4540,
       4541, 4542, 4543, 4544, 4545, 4546, 4547, 4548, 4549, 4550, 4551,
       4552, 4553, 4554, 4555, 4556, 4557, 4558, 4559, 4560, 4561, 4562,
       4563, 4564, 4565, 4566, 4567, 4568, 4569, 4570, 4571, 4572, 4573,
       4574, 4575, 4576, 4577, 4578, 4579, 4580, 4581, 4582, 4583, 4584,
       4585, 4586, 4587, 4588, 4589, 4590, 4591, 4592, 4593, 4594, 4595,
       4596, 4597, 4598, 4599, 4600, 4601, 4602, 4603, 4604, 4605, 4606,
       4607, 4608, 4609, 4610, 4611, 4612, 4613, 4614, 4615, 4616, 4617,
       4618, 4619, 4620, 4621, 4622, 4623, 4624, 4625, 4626, 4627, 4628,
       4629, 4630, 4631, 4632, 4633, 4634, 4635, 4636, 4637, 4638, 4639,
       4640, 4641, 4642, 4643, 4644, 4645, 4646, 4647, 4648, 4649, 4650,
       4651, 4652, 4653, 4654, 4655, 4656, 4657, 4658, 4659, 4660, 4661,
       4662, 4663, 4664, 4665, 4666, 4667, 4668, 4669, 4670, 4671, 4672,
       4673, 4674, 4675, 4676, 4677, 4678, 4679, 4680, 4681, 4682, 4683,
       4684, 4685, 4686, 4687, 4688, 4689, 4690, 4691, 4692, 4693, 4694,
       4695, 4696, 4697, 4698, 4699, 4700, 4701, 4702, 4703, 4704, 4705,
       4706, 4707, 4708, 4709, 4710], dtype=int32)

In [26]:
rollins_t[rollins_t['transcript_id'] == 4508]
rollins_t[rollins_t['transcript_id'] == 4523]

,transcript_id,corpus_name,language,date,filename,target_child_name,target_child_age,target_child_sex,collection_name,pid,collection_id,corpus_id,target_child_id
16,4523,Rollins,eng,None,Eng-NA/Rollins/cb06.xml,None,6.000123,None,Eng-NA,11312/c-00017263-1,2,47,2530

In [32]:
rollins_t

,transcript_id,corpus_name,language,date,filename,target_child_name,target_child_age,target_child_sex,collection_name,pid,collection_id,corpus_id,target_child_id
1,4508,Rollins,eng,None,Eng-NA/Rollins/af06.xml,None,NaN,None,Eng-NA,11312/a-00013272-1,2,47,2530
2,4509,Rollins,eng,None,Eng-NA/Rollins/af09.xml,None,NaN,None,Eng-NA,11312/a-00013273-1,2,47,2530
3,4510,Rollins,eng,None,Eng-NA/Rollins/af12.xml,None,NaN,None,Eng-NA,11312/a-00013274-1,2,47,2530
4,4511,Rollins,eng,None,Eng-NA/Rollins/af18.xml,None,NaN,None,Eng-NA,11312/a-00013275-1,2,47,2530
5,4512,Rollins,eng,None,Eng-NA/Rollins/af22.xml,None,NaN,None,Eng-NA,11312/a-00013276-1,2,47,2530
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,4706,Rollins,eng,None,Eng-NA/Rollins/zm18.xml,None,NaN,None,Eng-NA,11312/a-00013410-1,2,47,2530
200,4707,Rollins,eng,None,Eng-NA/Rollins/zm22.xml,None,NaN,None,Eng-NA,11312/a-00013411-1,2,47,2530
201,4708,Rollins,eng,None,Eng-NA/Rollins/zm30.xml,None,NaN,None,Eng-NA,11312/a-00013412-1,2,47,2530
202,4709,Rollins,eng,None,Eng-NA/Rollins/zx09.xml,None,NaN,None,Eng-NA,11312/a-00013413-1,2,47,2530
203,4710,Rollins,eng,None,Eng-NA/Rollins/zx12.xml,None,NaN,None,Eng-NA,11312/a-00013414-1,2,47,2530

In [31]:
roll_utt

,id,gloss,stem,actual_phonology,model_phonology,type,language,num_morphemes,num_tokens,utterance_order,...,target_child_sex,media_start,media_end,media_unit,collection_name,collection_id,corpus_id,speaker_id,target_child_id,transcript_id
1,906608,hello Chi,hello Chi,,,declarative,eng,2,2,1,...,None,332.130,335.010,s,Eng-NA,2,47,2532,2530,4523
2,906617,how are you today,how be you today,,,declarative,eng,5,4,2,...,None,335.010,336.508,s,Eng-NA,2,47,2532,2530,4523
3,906624,,,,,declarative,eng,-2147483648,0,3,...,None,336.508,337.776,s,Eng-NA,2,47,2530,2530,4523
4,906630,,,,,declarative,eng,-2147483648,0,4,...,None,337.776,338.981,s,Eng-NA,2,47,2532,2530,4523
5,906635,I love you,I love you,,,declarative,eng,3,3,5,...,None,338.981,340.681,s,Eng-NA,2,47,2532,2530,4523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27753,943703,,,,,declarative,eng,-2147483648,0,637,...,None,1328.848,1333.011,s,Eng-NA,2,47,2530,2530,4650
27754,943712,oh that rattle is nice,oh that rattle be nice,,,declarative,eng,6,5,638,...,None,1333.011,1335.651,s,Eng-NA,2,47,2532,2530,4650
27755,943725,,,,,declarative,eng,-2147483648,0,639,...,None,1335.651,1337.143,s,Eng-NA,2,47,2530,2530,4650
27756,943733,make it sound,make it sound,,,declarative,eng,3,3,640,...,None,1335.651,1337.258,s,Eng-NA,2,47,2532,2530,4650
27757,943742,,,,,declarative,eng,-2147483648,0,641,...,None,1337.258,1340.035,s,Eng-NA,2,47,2530,2530,4650

In [11]:
np.sort(roll_utt['transcript_id'].unique())

array([4523, 4526, 4528, 4531, 4532, 4533, 4538, 4540, 4542, 4547, 4554,
       4556, 4562, 4563, 4565, 4568, 4569, 4570, 4575, 4576, 4579, 4586,
       4587, 4593, 4594, 4595, 4602, 4604, 4605, 4606, 4610, 4615, 4617,
       4621, 4622, 4623, 4626, 4634, 4635, 4639, 4640, 4641, 4647, 4648,
       4649, 4650, 4674, 4677, 4678, 4679, 4680, 4681, 4682, 4685, 4686,
       4687, 4689, 4697, 4704, 4705], dtype=int32)

In [29]:
roll_utt[roll_utt['gloss'] == 'a fun marker is your phone']

Empty DataFrame
Columns: [id, gloss, stem, actual_phonology, model_phonology, type, language, num_morphemes, num_tokens, utterance_order, corpus_name, part_of_speech, speaker_code, speaker_name, speaker_role, target_child_name, target_child_age, target_child_sex, media_start, media_end, media_unit, collection_name, collection_id, corpus_id, speaker_id, target_child_id, transcript_id]
Index: []

[0 rows x 27 columns]

In [30]:
roll_utt[roll_utt['transcript_id'] == 4523]

,id,gloss,stem,actual_phonology,model_phonology,type,language,num_morphemes,num_tokens,utterance_order,...,target_child_sex,media_start,media_end,media_unit,collection_name,collection_id,corpus_id,speaker_id,target_child_id,transcript_id
1,906608,hello Chi,hello Chi,,,declarative,eng,2,2,1,...,None,332.130,335.010,s,Eng-NA,2,47,2532,2530,4523
2,906617,how are you today,how be you today,,,declarative,eng,5,4,2,...,None,335.010,336.508,s,Eng-NA,2,47,2532,2530,4523
3,906624,,,,,declarative,eng,-2147483648,0,3,...,None,336.508,337.776,s,Eng-NA,2,47,2530,2530,4523
4,906630,,,,,declarative,eng,-2147483648,0,4,...,None,337.776,338.981,s,Eng-NA,2,47,2532,2530,4523
5,906635,I love you,I love you,,,declarative,eng,3,3,5,...,None,338.981,340.681,s,Eng-NA,2,47,2532,2530,4523
6,906641,,,,,declarative,eng,-2147483648,0,6,...,None,338.981,340.681,s,Eng-NA,2,47,2530,2530,4523
7,906648,I love you,I love you,,,declarative,eng,3,3,7,...,None,340.681,341.873,s,Eng-NA,2,47,2532,2530,4523
8,906654,uh,,,,declarative,eng,-2147483648,1,8,...,None,341.873,342.205,s,Eng-NA,2,47,2532,2530,4523
9,906661,does that taste good,do that taste good,,,declarative,eng,5,4,9,...,None,342.205,343.658,s,Eng-NA,2,47,2532,2530,4523
10,906667,come here give me kisses,come here give me kiss,,,declarative,eng,6,5,10,...,None,343.658,345.285,s,Eng-NA,2,47,2532,2530,4523
11,906676,give me kisses huh,give me kiss huh,,,declarative,eng,5,4,11,...,None,345.285,346.120,s,Eng-NA,2,47,2532,2530,4523
12,906684,,,,,declarative,eng,-2147483648,0,12,...,None,346.120,346.736,s,Eng-NA,2,47,2532,2530,4523
13,906691,,,,,declarative,eng,-2147483648,0,13,...,None,346.736,347.453,s,Eng-NA,2,47,2532,2530,4523
14,906695,,,,,declarative,eng,-2147483648,0,14,...,None,347.453,347.891,s,Eng-NA,2,47,2532,2530,4523
15,906699,high,high,,,declarative,eng,1,1,15,...,None,347.891,349.488,s,Eng-NA,2,47,2532,2530,4523
16,906702,,,,,declarative,eng,-2147483648,0,16,...,None,347.891,349.655,s,Eng-NA,2,47,2530,2530,4523
17,906706,,,,,declarative,eng,-2147483648,0,17,...,None,349.655,350.065,s,Eng-NA,2,47,2532,2530,4523
18,906710,high,high,,,declarative,eng,1,1,18,...,None,350.065,351.071,s,Eng-NA,2,47,2532,2530,4523
19,906714,yes,yes,,,declarative,eng,1,1,19,...,None,351.071,351.953,s,Eng-NA,2,47,2532,2530,4523
20,906718,whose that,whose that,,,declarative,eng,2,2,20,...,None,351.953,354.361,s,Eng-NA,2,47,2532,2530,4523
21,906722,,,,,declarative,eng,-2147483648,0,21,...,None,354.361,355.426,s,Eng-NA,2,47,2530,2530,4523
22,906726,that's Big_Bird,that Big_Bird,,,declarative,eng,3,2,22,...,None,354.361,355.426,s,Eng-NA,2,47,2532,2530,4523
23,906730,that's big bird,that big bird,,,declarative,eng,4,3,23,...,None,355.426,357.465,s,Eng-NA,2,47,2532,2530,4523
24,906733,yes,yes,,,declarative,eng,1,1,24,...,None,357.465,358.593,s,Eng-NA,2,47,2532,2530,4523
25,906735,does he not taste good,do he not taste good,,,declarative,eng,6,5,25,...,None,358.593,361.061,s,Eng-NA,2,47,2532,2530,4523
26,906738,does Big_Bird taste funny,do Big_Bird taste fun,,,question,eng,7,4,26,...,None,361.061,363.645,s,Eng-NA,2,47,2532,2530,4523
27,906742,,,,,declarative,eng,-2147483648,0,27,...,None,363.645,364.218,s,Eng-NA,2,47,2532,2530,4523
28,906745,,,,,declarative,eng,-2147483648,0,28,...,None,364.218,364.335,s,Eng-NA,2,47,2530,2530,4523
29,906749,,,,,declarative,eng,-2147483648,0,29,...,None,364.335,372.500,s,Eng-NA,2,47,2532,2530,4523
30,906753,,,,,declarative,eng,-2147483648,0,30,...,None,372.500,389.000,s,Eng-NA,2,47,2530,2530,4523
31,906757,,,,,declarative,eng,-2147483648,0,31,...,None,372.500,389.000,s,Eng-NA,2,47,2532,2530,4523
32,906759,I love you,I love you,,,declarative,eng,3,3,32,...,None,389.000,390.521,s,Eng-NA,2,47,2532,2530,4523
33,906763,,,,,declarative,eng,-2147483648,0,33,...,None,390.521,391.031,s,Eng-NA,2,47,2532,2530,4523
34,906767,,,,,declarative,eng,-2147483648,0,34,...,None,390.521,391.031,s,Eng-NA,2,47,2530,2530,4523
35,906769,I love you,I love you,,,declarative,eng,3,3,35,...,None,391.031,393.468,s,Eng-NA,2,47,2532,2530,4523
37,906774,,,,,declarative,eng,-2147483648,0,36,...,None,393.468,397.253,s,Eng-NA,2,47,2530,2530,4523
39,906778,yes I do,yes I do,,,declarative,eng,3,3,37,...,None,393.468,398.205,s,Eng-NA,2,47,2532,2530,4523
41,906782,yes I do,yes I do,,,declarative,eng,3,3,38,...,None,398.205,399.096,s,Eng-NA,2,47,2532,2530,4523
43,906786,I love you,I love you,,,declarative,eng,3,3,39,...,None,399.096,399.908,s,Eng-NA,2,47,2532,2530,4523
45,906790,,,,,declarative,eng,-2147483648,0,40,...,None,399.908,401.243,s,Eng-NA,2,47,2530,2530,4523
48,906797,,,,,declarative,eng,-2147483648,0,41,...,None,399.908,403.350,s,Eng-NA,2,47,2532,2530,4523

In [4]:
roll_utt = chp.get_utterances(corpus='Rollins')
roll_utt['transcript_id'].value_counts()

R[write to console]: Using current database version: '2021.1'.

R[write to console]: Getting data from 3 children in 1 corpus ...

transcript_id
4570    1083
4565     883
4604     872
4542     863
4647     838
4602     780
4677     752
4697     751
4641     712
4674     681
4586     659
4610     646
4650     641
4626     624
4576     614
4528     608
4679     603
4686     590
4587     567
4606     543
4556     541
4705     538
4649     495
4615     488
4704     486
4547     474
4617     465
4531     464
4569     462
4579     430
4689     428
4623     421
4526     415
4635     412
4533     402
4595     388
4563     352
4682     352
4540     347
4639     344
4568     343
4640     341
4680     340
4575     322
4687     301
4594     301
4554     290
4562     263
4538     260
4634     260
4605     251
4685     231
4648     228
4621     202
4622     176
4681     174
4593     172
4678     169
4532      78
4523      41
Name: count, dtype: int64

In [5]:
brent_transcripts[brent_transcripts['target_child_id'] == 3832]
brent_transcripts['target_child_id'].nunique()

19

In [7]:
brent_transcripts[brent_transcripts['transcript_id'] == 8460]

,transcript_id,corpus_name,language,date,filename,target_child_name,target_child_age,target_child_sex,collection_name,pid,collection_id,corpus_id,target_child_id
195,8460,Brent,eng,1996-08-02,Eng-NA/Brent/w1/010006.xml,None,NaN,None,Eng-NA,11312/c-00015616-1,2,68,-2147483648

In [12]:
df = chp.get_utterances(corpus='Brent',  )
df = df[df['speaker_code'] != 'CHI']
df[df['num_morphemes']>0]

R[write to console]: Using current database version: '2021.1'.

R[write to console]: Getting data from 19 children in 1 corpus ...

,id,gloss,stem,actual_phonology,model_phonology,type,language,num_morphemes,num_tokens,utterance_order,...,target_child_sex,media_start,media_end,media_unit,collection_name,collection_id,corpus_id,speaker_id,target_child_id,transcript_id
1,2138060,Morgan,Morgan,,,declarative,eng,1,1,1,...,None,1.568,2.534,s,Eng-NA,2,68,3838,3832,8268
2,2138061,pull it up yourself,pull it up yourself,,,imperative_emphatic,eng,4,4,1,...,female,0.131,1.537,s,Eng-NA,2,68,3837,3836,8267
3,2138063,see,see,,,imperative_emphatic,eng,1,1,2,...,None,4.161,4.384,s,Eng-NA,2,68,3838,3832,8268
4,2138064,hands up,hand up,,,imperative_emphatic,eng,3,2,2,...,female,2.333,3.000,s,Eng-NA,2,68,3837,3836,8267
5,2138066,hands up,hand up,,,imperative_emphatic,eng,3,2,3,...,female,3.421,3.823,s,Eng-NA,2,68,3837,3836,8267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168013,2330238,let's play with Elmo,let play with Elmo,,,imperative_emphatic,eng,5,4,1085,...,male,4420.510,4421.403,s,Eng-NA,2,68,3892,3890,8477
168016,2330241,you want,you want,,,question,eng,2,2,1088,...,male,4424.443,4424.810,s,Eng-NA,2,68,3892,3890,8477
168017,2330242,that what you want,that what you want,,,question,eng,4,4,1089,...,male,4426.313,4426.900,s,Eng-NA,2,68,3892,3890,8477
168018,2330243,you trying to snap your finger,you try to snap your finger,,,question,eng,7,6,1090,...,male,4481.453,4482.620,s,Eng-NA,2,68,3892,3890,8477
168019,2330244,yep that's xxx,yep that,,,declarative,eng,3,3,1091,...,male,4488.950,4490.237,s,Eng-NA,2,68,3892,3890,8477

In [15]:
df[df['num_tokens']>0]

,id,gloss,stem,actual_phonology,model_phonology,type,language,num_morphemes,num_tokens,utterance_order,...,target_child_sex,media_start,media_end,media_unit,collection_name,collection_id,corpus_id,speaker_id,target_child_id,transcript_id
1,2138060,Morgan,Morgan,,,declarative,eng,1,1,1,...,None,1.568,2.534,s,Eng-NA,2,68,3838,3832,8268
2,2138061,pull it up yourself,pull it up yourself,,,imperative_emphatic,eng,4,4,1,...,female,0.131,1.537,s,Eng-NA,2,68,3837,3836,8267
3,2138063,see,see,,,imperative_emphatic,eng,1,1,2,...,None,4.161,4.384,s,Eng-NA,2,68,3838,3832,8268
4,2138064,hands up,hand up,,,imperative_emphatic,eng,3,2,2,...,female,2.333,3.000,s,Eng-NA,2,68,3837,3836,8267
5,2138066,hands up,hand up,,,imperative_emphatic,eng,3,2,3,...,female,3.421,3.823,s,Eng-NA,2,68,3837,3836,8267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168015,2330240,xxx,,,,declarative,eng,-2147483648,1,1087,...,male,4423.920,4424.350,s,Eng-NA,2,68,3892,3890,8477
168016,2330241,you want,you want,,,question,eng,2,2,1088,...,male,4424.443,4424.810,s,Eng-NA,2,68,3892,3890,8477
168017,2330242,that what you want,that what you want,,,question,eng,4,4,1089,...,male,4426.313,4426.900,s,Eng-NA,2,68,3892,3890,8477
168018,2330243,you trying to snap your finger,you try to snap your finger,,,question,eng,7,6,1090,...,male,4481.453,4482.620,s,Eng-NA,2,68,3892,3890,8477
168019,2330244,yep that's xxx,yep that,,,declarative,eng,3,3,1091,...,male,4488.950,4490.237,s,Eng-NA,2,68,3892,3890,8477

In [17]:
brent_transcripts.to_csv('brent_transcripts.csv')

In [18]:
df = chp.get_utterances(corpus='Rollins')

R[write to console]: Using current database version: '2021.1'.

R[write to console]: Getting data from 3 children in 1 corpus ...

In [22]:
df[df['transcript_id']<4523]

Empty DataFrame
Columns: [id, gloss, stem, actual_phonology, model_phonology, type, language, num_morphemes, num_tokens, utterance_order, corpus_name, part_of_speech, speaker_code, speaker_name, speaker_role, target_child_name, target_child_age, target_child_sex, media_start, media_end, media_unit, collection_name, collection_id, corpus_id, speaker_id, target_child_id, transcript_id]
Index: []

[0 rows x 27 columns]

In [2]:
chp.get_transcripts(corpus='vankleeck')

R[write to console]: Using current database version: '2021.1'.

,transcript_id,corpus_name,language,date,filename,target_child_name,target_child_age,target_child_sex,collection_name,pid,collection_id,corpus_id,target_child_id
1,4258,VanKleeck,eng,None,Eng-NA/VanKleeck/amy1.xml,Amy,45.000924,female,Eng-NA,11312/c-00017743-1,2,44,2476
2,4259,VanKleeck,eng,None,Eng-NA/VanKleeck/amy2.xml,Amy,45.000924,female,Eng-NA,11312/c-00017744-1,2,44,2476
3,4260,VanKleeck,eng,None,Eng-NA/VanKleeck/andrew1.xml,Andrew,48.000986,male,Eng-NA,11312/c-00017745-1,2,44,2478
4,4261,VanKleeck,eng,None,Eng-NA/VanKleeck/andrew2.xml,Andrew,48.000986,male,Eng-NA,11312/c-00017746-1,2,44,2478
5,4262,VanKleeck,eng,None,Eng-NA/VanKleeck/ben1.xml,Ben,44.000904,male,Eng-NA,11312/c-00017747-1,2,44,2480
6,4263,VanKleeck,eng,None,Eng-NA/VanKleeck/ben2.xml,Ben,44.000904,male,Eng-NA,11312/c-00017748-1,2,44,2480
7,4264,VanKleeck,eng,None,Eng-NA/VanKleeck/bree2.xml,Bree,46.000945,male,Eng-NA,11312/c-00017749-1,2,44,2482
8,4265,VanKleeck,eng,None,Eng-NA/VanKleeck/brent2.xml,Brent,45.000924,male,Eng-NA,11312/c-00017750-1,2,44,2483
9,4266,VanKleeck,eng,None,Eng-NA/VanKleeck/chris2.xml,Chris,46.000945,male,Eng-NA,11312/c-00017751-1,2,44,2484
10,4267,VanKleeck,eng,None,Eng-NA/VanKleeck/david1.xml,David,48.000986,male,Eng-NA,11312/c-00017752-1,2,44,2485
11,4268,VanKleeck,eng,None,Eng-NA/VanKleeck/david2.xml,David,48.000986,male,Eng-NA,11312/c-00017753-1,2,44,2485
12,4269,VanKleeck,eng,None,Eng-NA/VanKleeck/graham1.xml,Graham,45.000924,male,Eng-NA,11312/c-00017754-1,2,44,2490
13,4270,VanKleeck,eng,None,Eng-NA/VanKleeck/graham2.xml,Graham,45.000924,male,Eng-NA,11312/c-00017755-1,2,44,2490
14,4271,VanKleeck,eng,None,Eng-NA/VanKleeck/jenny1.xml,Jenny,37.000760,female,Eng-NA,11312/c-00017756-1,2,44,2492
15,4272,VanKleeck,eng,None,Eng-NA/VanKleeck/jenny2.xml,Jenny,37.000760,female,Eng-NA,11312/c-00017757-1,2,44,2492
16,4273,VanKleeck,eng,None,Eng-NA/VanKleeck/jessica1.xml,Jessica,44.000904,female,Eng-NA,11312/c-00017758-1,2,44,2494
17,4274,VanKleeck,eng,None,Eng-NA/VanKleeck/jessica2.xml,Jessica,44.000904,female,Eng-NA,11312/c-00017759-1,2,44,2494
18,4275,VanKleeck,eng,None,Eng-NA/VanKleeck/justin1a.xml,Justin,46.000945,male,Eng-NA,11312/c-00017760-1,2,44,2495
19,4276,VanKleeck,eng,None,Eng-NA/VanKleeck/justin1b.xml,Justin,46.000945,male,Eng-NA,11312/c-00017761-1,2,44,2495
20,4277,VanKleeck,eng,None,Eng-NA/VanKleeck/justin2.xml,Justin,46.000945,male,Eng-NA,11312/c-00017762-1,2,44,2495
21,4278,VanKleeck,eng,None,Eng-NA/VanKleeck/lara1.xml,Lara,48.000986,female,Eng-NA,11312/c-00017763-1,2,44,2497
22,4279,VanKleeck,eng,None,Eng-NA/VanKleeck/matjoy1.xml,Matthew,47.000965,male,Eng-NA,11312/c-00017765-1,2,44,2501
23,4280,VanKleeck,eng,None,Eng-NA/VanKleeck/lara2.xml,Lara,48.000986,female,Eng-NA,11312/c-00017764-1,2,44,2497
24,4281,VanKleeck,eng,None,Eng-NA/VanKleeck/mattm1.xml,Matt,47.000965,male,Eng-NA,11312/c-00017767-1,2,44,2499
25,4282,VanKleeck,eng,None,Eng-NA/VanKleeck/matjoy2.xml,Matthew,47.000965,male,Eng-NA,11312/c-00017766-1,2,44,2501
26,4283,VanKleeck,eng,None,Eng-NA/VanKleeck/mattm2.xml,Matt,47.000965,male,Eng-NA,11312/c-00017768-1,2,44,2499
27,4284,VanKleeck,eng,None,Eng-NA/VanKleeck/megan1.xml,Megan,47.000965,female,Eng-NA,11312/c-00017769-1,2,44,2503
28,4285,VanKleeck,eng,None,Eng-NA/VanKleeck/megan2.xml,Megan,47.000965,female,Eng-NA,11312/c-00017770-1,2,44,2503
29,4286,VanKleeck,eng,None,Eng-NA/VanKleeck/nikki1a.xml,Nikki,42.000862,female,Eng-NA,11312/c-00017771-1,2,44,2506
30,4287,VanKleeck,eng,None,Eng-NA/VanKleeck/nikki1b.xml,Nikki,42.000862,female,Eng-NA,11312/c-00017772-1,2,44,2506
31,4288,VanKleeck,eng,None,Eng-NA/VanKleeck/nikki2a.xml,Nikki,42.000862,female,Eng-NA,11312/c-00017773-1,2,44,2506
32,4289,VanKleeck,eng,None,Eng-NA/VanKleeck/nikki2b.xml,Nikki,42.000862,female,Eng-NA,11312/c-00017774-1,2,44,2506
33,4290,VanKleeck,eng,None,Eng-NA/VanKleeck/rachel1.xml,Rachel,44.000904,female,Eng-NA,11312/c-00017775-1,2,44,2511
34,4291,VanKleeck,eng,None,Eng-NA/VanKleeck/rachel2.xml,Rachel,44.000904,female,Eng-NA,11312/c-00017776-1,2,44,2511
35,4292,VanKleeck,eng,None,Eng-NA/VanKleeck/shea2.xml,Shea,44.000904,male,Eng-NA,11312/c-00017777-1,2,44,2522
36,4293,VanKleeck,eng,None,Eng-NA/VanKleeck/walter1.xml,Walter,48.000986,male,Eng-NA,11312/c-00017780-1,2,44,2508
37,4294,VanKleeck,eng,None,Eng-NA/VanKleeck/susan1.xml,Susan,43.000883,male,Eng-NA,11312/c-00017778-1,2,44,2510
38,4295,VanKleeck,eng,None,Eng-NA/VanKleeck/susan2.xml,Susan,43.000883,male,Eng-NA,11312/c-00017779-1,2,44,2510
39,4296,VanKleeck,eng,None,Eng-NA/VanKleeck/walter2a.xml,Walter,48.000986,male,Eng-NA,11312/c-00017781-1,2,44,2508
40,4297,VanKleeck,eng,None,Eng-NA/VanKleeck/walter2b.xml,Walter,48.000986,male,Eng-NA,11312/c-00017782-1,2,44,2508

In [49]:
df = chp.get_utterances(corpus='vankleeck')

R[write to console]: Using current database version: '2021.1'.

R[write to console]: Getting data from 20 children in 1 corpus ...

In [53]:
for i in (df['target_child_name'].unique()):
    print(i)

Amy
Andrew
Chris
Ben
Bree
David
Brent
Graham
Jenny
Justin
Jessica
Lara
Matt
Megan
Matthew
Nikki
Walter
Rachel
Susan
Shea

In [8]:
df.to_csv('Vankleeck.csv', index=False)

In [15]:
t = chp.get_transcripts(corpus='TD')

R[write to console]: Using current database version: '2021.1'.

In [19]:
t[t['language']=='eng']

,transcript_id,corpus_name,language,date,filename,target_child_name,target_child_age,target_child_sex,collection_name,pid,collection_id,corpus_id,target_child_id
48,34306,TD,eng,None,Ambrose/TD/13/02JW_13.xml,None,13.000267,male,Clinical-MOR,11312/c-00045846-1,17,278,20203
49,34307,TD,eng,None,Ambrose/TD/13/01DM_13.xml,None,13.000267,male,Clinical-MOR,11312/c-00045841-1,17,278,20203
50,34308,TD,eng,None,Ambrose/TD/13/03PH_13.xml,None,13.000267,male,Clinical-MOR,11312/c-00045851-1,17,278,20203
51,34309,TD,eng,None,Ambrose/TD/13/06BB_13.xml,None,13.000267,male,Clinical-MOR,11312/c-00045861-1,17,278,20203
52,34310,TD,eng,None,Ambrose/TD/13/07ES_13.xml,None,13.000267,male,Clinical-MOR,11312/c-00045866-1,17,278,20203
...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,34696,TD,eng,None,Rondal/TD/shelly1.xml,Shelly,13.000267,female,Clinical-MOR,11312/c-00004376-1,17,282,20677
277,34697,TD,eng,None,Rondal/TD/tansy1.xml,Tansy,13.033122,female,Clinical-MOR,11312/c-00004378-1,17,282,20678
278,34698,TD,eng,None,Rondal/TD/shelly2.xml,Shelly,13.000267,female,Clinical-MOR,11312/c-00004377-1,17,282,20677
279,34699,TD,eng,None,Rondal/TD/tansy2.xml,Tansy,13.033122,female,Clinical-MOR,11312/c-00004379-1,17,282,20678
280,34700,TD,eng,None,Rondal/TD/vance1.xml,Vance,26.000534,male,Clinical-MOR,11312/c-00004380-1,17,282,20684

In [34]:
allt = chp.get_transcripts()

R[write to console]: Using current database version: '2021.1'.

In [41]:
all_corpus_names  = allt['corpus_name'].unique()

In [48]:
'Warren' in all_corpus_names

True

In [37]:
clinical = chp.get_transcripts(corpus='TD')

R[write to console]: Using current database version: '2021.1'.

In [39]:
clinical[clinical['language']=='eng']

,transcript_id,corpus_name,language,date,filename,target_child_name,target_child_age,target_child_sex,collection_name,pid,collection_id,corpus_id,target_child_id
48,34306,TD,eng,None,Ambrose/TD/13/02JW_13.xml,None,13.000267,male,Clinical-MOR,11312/c-00045846-1,17,278,20203
49,34307,TD,eng,None,Ambrose/TD/13/01DM_13.xml,None,13.000267,male,Clinical-MOR,11312/c-00045841-1,17,278,20203
50,34308,TD,eng,None,Ambrose/TD/13/03PH_13.xml,None,13.000267,male,Clinical-MOR,11312/c-00045851-1,17,278,20203
51,34309,TD,eng,None,Ambrose/TD/13/06BB_13.xml,None,13.000267,male,Clinical-MOR,11312/c-00045861-1,17,278,20203
52,34310,TD,eng,None,Ambrose/TD/13/07ES_13.xml,None,13.000267,male,Clinical-MOR,11312/c-00045866-1,17,278,20203
...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,34696,TD,eng,None,Rondal/TD/shelly1.xml,Shelly,13.000267,female,Clinical-MOR,11312/c-00004376-1,17,282,20677
277,34697,TD,eng,None,Rondal/TD/tansy1.xml,Tansy,13.033122,female,Clinical-MOR,11312/c-00004378-1,17,282,20678
278,34698,TD,eng,None,Rondal/TD/shelly2.xml,Shelly,13.000267,female,Clinical-MOR,11312/c-00004377-1,17,282,20677
279,34699,TD,eng,None,Rondal/TD/tansy2.xml,Tansy,13.033122,female,Clinical-MOR,11312/c-00004379-1,17,282,20678
280,34700,TD,eng,None,Rondal/TD/vance1.xml,Vance,26.000534,male,Clinical-MOR,11312/c-00004380-1,17,282,20684

In [55]:
for i in all_corpus_names:
    print(i)

English-WolfHemp
Turkish-Aksu
ArabicDutch-AarssenBos
DutchArabic-AarssenBos
French-Duguine
French-Lyon
Arabic-AarssenBos
Italian-Roma
Spanish-Aguilar
Croatian-TKH
DutchTurkish-AarssenBos
Turkish-AarssenBos
Chinese-Chang1
English-Slobin
English-ECSC
French-MTLN
Spanish-Ornat
English-MiamiBiling
Thai-Zlatev
Spanish-Sebastian
Russian-Protassova
Italian-Bologna
Hebrew-Berman
German-Bamberg
English-MiamiMono
Chinese-Guo
Dutch-AarssenBos
Spanish-MiamiBiling
TurkishDutch-AarssenBos
Basque-Duguine
Chinese-Zhou
Chinese-Tardif
Garvey
Valian
Bernstein
Clark
PetersonMcCabe
Evans
Gathercole
NewEngland
Hall
Peters
VanKleeck
Suppes
Gopnik
Rollins
Kuczaj
Gleason
Sawyer
HSLLD
Gelman
Sprott
Bloom
Bates
Feldman
Tardif
Higginson
Post
Brown
MacWhinney
Haggerty
Warren
McMillan
VanHouten
Hicks
Demetras2
Brent
Nelson
Braunwald
Soderstrom
Sachs
McCune
Weist
Morisset
NewmanRatner
Bliss
Demetras1
Bohannon
Snow
Lund
Andren
Ringstad
Kari
Einarsdottir
Plunkett
Ornat
Romero
GRERLI
SerraSole
Nieva
FernAguado
Marrero
Remedi
Vila
BecaCESNo
Aguirre
Hess
Montes
Shiro
OreaPine
JacksonThal
ColMex
DiezItza
Linaza
Geneva
VionColas
Pauline
Hammelrath
Leveille
York
Champaud
MTLN
Palasis
Asymmetries
DeHouwer
Stellenbosch
Schaerlaekens
SouthwoodWhite
VanKampen
Groningen
Gillis
Wijnen
HKU
LeeWongLeung
LiZhou
Chang2
ChangPN
LiReading
AcadLang
ZhouAssessment
TCCM
Tong
Xinjiang
Zhou2
Chang1
Zhou3
TCCM-reading
Erbaugh
ZhouNarratives
Zhou1
Beijing
ChangPlay
ZhouDinner
Reger
Bodor
Naama
BermanLong
Ravid
BSF
BatEl
Levy
Sarvasy
Korgesaar
Beek
Kohler
Kuett
Argus
MAIN
Kapanen
Vija
Zupping
Doukas
Stephany
Narasimhan
Salama
DeLisser
Soto
Luque
Demuth
Aksu
Altinkamis
Family
Samadi
Ishii
Ogawa
Yokoyama
NINJAL-Okubo
Noji
Hamasaki
Okayama
MiiPro
Miyata
Jordina
Julia
MireiaEvaPascual
Goga
Avram
AlegreX
AlegreLong
Florianopolis
Batoreo
Santos
Klammler
Calambrone
D_Odorico
Tonelli
Roma
Antelmi
PERLA
Thessaloniki
MOC
Oviedo
BolPool
LeNormand
CORDIS
TD
DS
HL
SLI
Tommerdahl
Manchester
KellyQuigley
Forrester
Thomas
MPI-EVA-Manchester
Fletcher
Korman
Howe
Wells
Gathburn
Nuffield
Lara
Belfast
CIG2
CIG1
Guilfoyle
Gaeltacht
Jakarta
CRSLP
Jiwon
Ko
Ryu
LabLing
Szuman
Protassova
Tanja
Chroma
SCECL
Kovacevic
Zagar
Wagner
Caroline
Weissenborn
Miller
Manuela
Szagun
Leo
Rigol
UCSD
ENNI
Gillam
POLER
EisenbergGuo
Hargrove
Rescorla
EllisWeismer
Malakoff
Flusberg
Hooshyar
Chiat-Ruth
ParentChild
Twins
Narrative
Conti2
Conti4
Conti1
Conti3
Watkins
Singapore
Guthrie
Serra
Deuchar
Ticio
YipMatthews
Krupa
Navracsics
Ionin
Koroschetz
Seba
Hacohen
ProjectS
ZAS
Bailleul
Amsterdam
Perez
Paradis
Biro
FerFuLice
CHCC
BiSLI
CUHK
SilvaCorvalan
MCF
vanOosten
Hayashi
GNP
Roggero
DeHouwerBornstein
MacBates1
MacBates2
MDT
Zink
CLPF
Utrecht
StanfordEnglish
Inkelas
Menn
Goad
Davis
Providence
ComptonPater
PaidoEnglish
Penney
Davis-CDI
Lacerda
StanfordSwedish
Garmann
Simonsen
Masdottir
Vivar
LlinasOjea
Koine
KernFrench
GoadRose
Lyon
Yamaguchi
StanfordFrench
Paris
Hunkeler
Tsay
PaidoCantonese
Gildersleeve
Lahrouchi
PaidoGreek
CCLAS
KernArabic
Kuwaiti
Istanbul
PaidoJapanese
StanfordJapanese
Ota
EstevePrieto
KernRomanian
CCF
Amorim
Ramalho
Preston
Cummings
Cattini
TorringtonEaton
McAllister
Bernhardt
Chiat
Granada
PCSC
NeumannFoxBoyer
Smith
Cruttenden
WeistJarosz
FoxBoyer
Stuttgart
Bracci
Grimm
TAKI
VYSA
Almeida
FallsChurch
PraisleyRose
Scheidnes